{% extends 'base.html'%}
{% load static %}
{% block content %}
						<div class="content-holder">
                    {% if messages %}
                            {% for message in messages %}
                                <div {% if message.tags %} class="alert {{ message.tags }} text-center"{% endif %}>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
						</div>
                        <div class="container mt-4">
                        <div class="row">
							<div class="col-md-12">
							    <div class="table-responsive">
									<table class="table table-bordered" id="datatable">
										<thead>
											<tr>
												<th>S.No</th>
												<th>title</th>
												<th>description</th>
                                                <th>Task Done</th>
                                                <th>Action</th>

											</tr>
										</thead>
										<tbody>
											{% for obj in obj %}
											<tr>
												<td>{{ forloop.counter }}</td>
												<td>{{ obj.title}}</td>
                                                <td>{{ obj.description}}</td>




												<td>
												      <select class="form-control"  name="status1" id="status1">
												    		 {% if obj.active is True %}

														  <option value="Active" >Finished</option>
														  <option value="Inactive" >UnFinished</option>
														      {% else %}
														<option value="Inactive" >UnFinished</option>
														<option value="Active" >Finished</option>
														     {%endif%}
													   </select>
											    </td>
                                                <td>
													<a href="{% url 'task_delete' obj.id %}"><i class="fa fa-trash action-icons" aria-hidden="true" onclick="return confirm('Are you sure you want to delete this?')"></i></a>
				                                    <a href="{% url 'task_edit' obj.id %}" tooltip="Adit"><i class="fa fa-pencil-square action-icons" aria-hidden="true"></i></a>
												</td>
												{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
                        </div>
                        </div>

<div class="container">
<div class="row">
 <div class="col-md-12">

	<form method="POST">
		{% csrf_token %}


			<label>Title <span class="red-color"> * </span></label>
			<input type="text" class="form-control"  placeholder="title" name="title" required />


			<label>Description <span class="red-color"> * </span></label>
			<input type="text" class="form-control" id="description" placeholder="Description" name="description" required />

		<div class="col-md-12 mt-2">
		<input type="submit" value="submit">
			<div>


	</form>
 </div>
</div>
</div>
<script>
		$('#datatable').find('tr').change( function(data){
	    	console.log(data);
	        console.log("Clicked data");
    		var row = $(this).find('td:eq(1)').text();
    		console.log(row,"this is row");


	    $.ajax({
	      url: "{% url 'task_status_change' %}",
	      type: "GET",
		  data: {"id":row},
	      headers: { "X-CSRFToken": "{{ csrf_token }}" }, // for csrf token
	      success: function (data) {
	      	// location.reload()
	        // alert(data.result);
	        alert(" Status changed successfully")
	      },
	    });
	  })

</script>
{% endblock %}